.nav{
    background-color: rgb(226, 138, 226);
    color: rgb(2, 2, 17);
    
}
.b1{
    margin-left: 1000px;
    background-color: rgba(242, 243, 236, 0.315);
}
.b2{
    margin-left: 10px;
    background-color: rgba(246, 247, 245, 0.315);

}